




a{
    cursor: pointer;
}

/*a:hover{
    text-decoration: none;
    color: inherit;
}*/


.social{

	position: fixed;
	margin-left: 50px;
	margin-top: 20%;
	z-index: 999;
}

.social img{

	width: 20px;
	margin-bottom: 28px;
    opacity: 0.3;
}

.social img:hover{
    opacity: 1;
}





nav button{
    background: none;
    outline: none;
    border: none;
}

nav{
    background: white;
}

.check{
  border:solid 1px #ccc;
  width:150px;
  display:block;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.check2{
  display:block;
  margin-top: 15px
}
.checked{
  background: #F0D1E1;
    color: white;
}

.button-create{
    color: black;
    border: 1px solid #8EE2ED;    
    padding: 12px;
	margin-top:50%;
    margin-left: 20px;
}

.btn-modal{
    margin-top: 20px;
    float: right;
    font-weight:900;
}

#step-4 p{
    margin: 20px;
}

                            /* acaba fontes*/

.info{
    background-image: url(../img/img-bodyid2.jpg);
    height: 16%;
    background-size: cover;
    background-position: center;
}



.modal-content{
    text-align: center;
    border-radius: 0px;
}

.modal-header{
    border: none;
}

.p-margin{
    margin-bottom: 5%;
}

.modal-header h4{
    font-weight: bold;
    margin-top: 3%;
}

.botao{
    background: #84CCDB;
    color: white;
    border: none;
    outline: none;
    border-bottom: 2px solid #65B6C9;
	padding:10px;
	font-family:GothamMedium;
	letter-spacing:1px;
}

button.botao:hover{
  color:black;
}



.botao p{
    font-size: 13pt;
    padding: 2px 50px;
    margin-top: 10px;
}


                            /* acaba o que*/




                            /* acaba como*/


footer img{
    margin-top: 4%;
    margin-bottom: 2%
}

footer a{
    text-decoration: none;
    font-style: normal;
    color: white;
}

.menu{
    margin-bottom: 4%;
}

