    padding-bottom: 10%;@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Black.otf") format('opentype');
    src: url("../fonts/Gotham-Black.otf") format('opentype');
    src: url("../fonts/Gotham-Thin.otf") format('opentype');
    src: url("../fonts/Gotham-Ultra.otf") format('opentype');
    src: url("../fonts/Gotham-XLight.otf") format('opentype');
}

@font-face {
    font-family: "Gotham-Light";
    src: url("../fonts/Gotham-Light.otf") format('opentype');
}

@font-face {
    font-family: "Gotham-Black";
    src: url("../fonts/Gotham-Black.otf") format('opentype');
}

@font-face {
    font-family: "Gotham-Bold";
    src: url("../fonts/Gotham-Bold.otf") format('opentype');
}

@font-face {
    font-family: "Playfair";
    src: url("../fonts/PlayfairDisplay-Italic.ttf") format('opentype');
}

@font-face {
    font-family: "Gotham-Book";
    src: url("../fonts/Gotham-Book.otf") format('opentype');
}

@font-face {
    font-family: "GothamMedium";
    src: url("../fonts/Gotham-Medium.otf") format('opentype');
}

.0p {
    padding: 0 !important;
}

.mt110 {
    margin-top: 110px !important;
}

.btn-input {
    display: block;
}

.btn-input .btn.form-control {
    text-align: left;
}

.btn-input .btn.form-control span:first-child {
    left: 10px;
    overflow: hidden;
    position: absolute;
    right: 25px;
}

.btn-input .btn.form-control .caret {
    margin-top: -1px;
    position: absolute;
    right: 10px;
    top: 50%;
}

.mtop25{
margin-top:25px;
}

.mtop17{
    margin-top:17px;
}

.container-fluid {
    padding: 0;
}

.titulo-header {
    font-family: Gotham-Black;
    letter-spacing: 2px;
    font-size: 34px;
    color: #fff;
}

.titulos-gotham {
    font-family: Gotham-Black;
    letter-spacing: 2px;
    color: #fff;
    font-size: 20px;
}

.subtitulo-header {
    font-family: Playfair;
    letter-spacing: 2px;
    font-size: 24px;
    color: #fff;
}

body {
    overflow-x: hidden;
    font-family: "Gotham";
}

.header-img {
    margin-top: 1.5%;
    height: 400px;
    width: 100%;
    text-align: center;
    background-image: url(../img/header1.jpg);
    background-position: bottom;
}

.title {
    padding-top: 10%;
    padding-bottom: 10%;
}

.box-input {
    border: 2px solid #fff;
    /*height:50px;*/
}

.cta {
    padding-top: 40px;
    padding-bottom: 40px;
    background: #8DE1ED;
    text-align: center;
}

.logo {
    margin-top: 25px;
    /*    margin-left: 100px;*/
}

.input-transparente {
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    border: 0;
    height: 22px;
    margin-left: 5px;
    width: 95%;
}

.titulo-input-home {
    font-family: Gotham-Black;
    font-size: 12px;
    color: #599ea8;
    padding: 5px;
}

.carousel {
    margin-top: 1.5%;
    width: 100%;
    
}

.botao2 {
    font-family: Gotham-Black;
    color: #333;
    letter-spacing: 2px;
    line-height: 50px;
}

.botao3 {
    font-family: Gotham-Black;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: #333;
    letter-spacing: 2px;
    line-height: 50px;
}

.bg-white {
    background-color: #fff;
}

.ou {
    line-height: 50px;
    color: #599ea8;
    font-style: italic;
}

.texto2 {
    font-family: Gotham;
    color: #599ea8;
    font-weight: bold;
}

.texto3 {
    font-family: gotham;
    font-weight: 600;
    font-size: 24px;
}

.texto4 {
    font-family: gotham;
    font-weight: 600;
    font-size: 15px;
}

.espacamento30 {
    margin-top: 30px;
}

.espacamento-esquerda {
    margin-left: 4%;
}

.espacamento-copyright {
    margin-top: 15px;
    font-size: 12px;
    color:#fff;
}
.espacamento-copyright a {
    color:#8de1ed;
}

.espacamento20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.font-gotham-black {
    font-family: Gotham-Black;
}

.font-gotham-light {
    font-family: Gotham-Light;
}

.font-gotham-bold {
    font-family: Gotham-Bold;
}

.font-gotham-medium {
    font-family: GothamMedium;
}

.font-gotham-book {
    font-family: Gotham-Book;
    letter-spacing: 1px;
}

.font-gotham {
    font-family: Gotham;
}

.bg-cinza {
    background-color: #f7f7f8;
    padding-top: 40px;
    padding-bottom: 40px;
}

.como-funciona {
    padding-top: 30px;
    padding-bottom: 40px;
}

.glyphicon-size {
    font-size: 50px;
    color: #ececec;
    margin-top: 100%;
}

.titulo-como-funciona {
    color: #97d1b4;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Gotham-Bold;
}

.simnao a {
    color: #97d1b4;
    /*font-weight:bold;*/
}

.simnao a:hover {
    color: #97d1b4;
    /*text-decoration:underline;*/
    font-weight: bold;
    /*font-weight:bold;*/
}

.width30 {
    width: 100px;
    text-align: center;
}

.rodape {
    background-color: #303030;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
}

.coluna {
    left: 50%;
    margin-left: -100px;
    position: absolute;
    width: 200px;
}

.coluna-cadastro {
    left: 50%;
    margin-left: -200px;
    position: absolute;
    width: 400px;
}

.box100-floatleft {
    width: 100%;
    float: left;
}

.coluna2 {
    left: 50%;
    margin-left: -200px;
    position: absolute;
    width: 400px;
}

::-webkit-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

.input-transparente-login {
    color: #666;
    border: 0;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}

.siganos {
    font-family: Gotham;
    font-weight: 700;
    float: left;
}

.redes-sociais {
    /*width: 30px;*/
    text-align: center;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}


/*cadastre-se*/

.borda-cadastre {
    border: 1px solid #ccc;
}

.input-transparente-cadastro {
    color: #666;
    border: 0;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: transparent;
}

.espacamento-top {
    margin-top: 10px;
}

.estilo-newsletter {
    width: 350px;
    line-height: 38px;
    height: 38px;
    font-style: italic;
    font-size: 12px;
}

.dropdown-menu a:link {
    color: #999;
    text-align: right;
}

.dropdown-toggle {
    border: 1px solid #000;
    text-align: right;
    font-family: Gotham-Bold;
    width: 168px;
    padding: 10px;
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    font-family: Gotham-Book;
    letter-spacing: 1px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    font-size: 13px;
}

.borda-img-roupa {
    border: 3px solid #8de1ed;
}

.marca {
    background: #84CCDB;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Gotham-Book;
    letter-spacing: 1px;
}

.tamanho {
    font-size: 30px;
    color: #84CCDB;
}

.borda-img {
    border: 2px solid #8de1ed;
    width: auto;
    width: 278px;
}

.borda-img img {
    position: relative;
    top: 15px;
    left: -21px;
}


/*css range*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.5px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
    background: #ffffff;
    border-radius: 0px;
    border: 0.1px solid rgba(220, 221, 221, 0.87);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 3.3px solid #8de1ed;
    height: 27px;
    width: 27px;
    border-radius: 27px;
    background: #8de1ed;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
    background: #8de1ed;
    border-radius: 0px;
    border: 0.1px solid rgba(220, 221, 221, 0.87);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 3.3px solid #8de1ed;
    height: 27px;
    width: 27px;
    border-radius: 27px;
    background: #8de1ed;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #c7c7c7;
    border: 0.1px solid rgba(220, 221, 221, 0.87);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
}

input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0.1px solid rgba(220, 221, 221, 0.87);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 3.3px solid #8de1ed;
    height: 27px;
    width: 27px;
    border-radius: 27px;
    background: #8de1ed;
    cursor: pointer;
    height: 0px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}

.range-etapas input[type=range]::-webkit-slider-thumb, .range-etapas input[type=range]::-moz-range-thumb, .range-etapas input[type=range]::-ms-thumb {
    border: 3.3px solid #8de1ed;
}

.range-etapas input[type=range]::-webkit-slider-runnable-track, .range-etapas input[type=range]::-moz-range-track, .range-etapas input[type=range]::-ms-fill-uppe {
    border: 0.1px solid rgb(141, 225, 237);
}

.range-etapas .result-range {
    background-image: url('../img/arrow.png');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 5px;
}

.range-etapas output {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #ddd;
    border-radius: 4px;
    width: 48px;
    text-align: center;
    font-family: GothamMedium;
}

.texto5 {
    font-size: 12px;
    font-family: Gotham-Book;
    color: #666;
}

.texto6 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.box-siganos {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 1%;
}

.ir-news {
    border: 1px solid #fff;
    height: 38px;
    float: right;
    float: right;
}

.input-news {
    border: 1px solid #fff;
    text-align: left;
    height: 40px;
    padding: 0;
}

.box-input-news {
    position: relative;
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 1%;
}

.espacamento-font {
    letter-spacing: 1px;
}

.altura-linha {
    line-height: 25px;
}

.estrutura-menu {
    margin-top: 3%;
    padding: 0;
}

.borda-provar {
    border: 2px solid #fff;
    border-right: none;
}

.divisao-username {
    border-right: 1px solid #fff;
}

a.btn-cadastro-bodyid:link {
    color: #599ea8;
    text-decoration: none;
}

a.btn-cadastro-bodyid:visited {
    color: #599ea8;
    text-decoration: none;
}

a.btn-cadastro-bodyid:hover {
    color: #599ea8;
    text-decoration: underline;
}

a.btn-cadastro-bodyid:active {
    color: #599ea8;
    text-decoration: none;
}

a.estilo-dropdown:link {
    color: #000;
    text-decoration: none;
}

a.estilo-dropdown:visited {
    color: #000;
    text-decoration: none;
}

a.estilo-dropdown:hover {
    color: #999;
    text-decoration: none;
}

a.btn-cadastro-bodyid:active {
    color: #999;
    text-decoration: none;
}

.box-cadastre {
    position: relative;
    width: 100%;
    margin-top: 3%;
    min-height: 300px;
}

.box-login {
    position: relative;
    width: 100%;
    margin-top: 3%;
    min-height: 150px;
}

.espacamento-bgcinza {
    margin-top: 20px;
    padding-top: 3%;
    padding-bottom: 6%
}

.input-permanecer-logado {
    float: left;
    line-height: 40px;
    width: 49%;
    margin-right: 2%
}

.floatleft-width {
    float: left;
    width: 49%;
}

.box-senha-datanasc {
    float: left;
    width: 49%;
    margin-right: 2%
}

.bolinha-range {
    float: left;
    line-height: 30px;
    color: #ccc;
}

.range-sucesso {
    padding: 0;
    margin-left: 10px;
}

.box-opcoes-range {
    width: 426px;
    margin-left: 10px;
    float: left
}

.opcao-range {
    width: 142px;
    float: left;
}

.opcao-range-selecionada {
    font-size: 14px;
    color: #8de1ed;
}

.tamanho-sugerido {
    font-size: 20px;
}


/* Header Body-Id */

.fRight {
    float: right;
}

.ml42 {
    margin-left: 42px !important;
}

.bg-bodyId {
    background: url('../img/bgBodyId.jpg') no-repeat center center;
    /*    padding-top: 30px;*/
    padding-bottom: 30px;
    margin: 10px 0 10px 0;
}

.bg-bodyId h1, .bg-bodyId h2 {
    color: #fff;
}

.bg-bodyId h1 {
    font-family: Gotham-Bold;
    font-size: 30px;
}

.bg-bodyId h2 {
    font-family: Playfair;
    font-size: 18px;
}


/* Etapas */

.etapas {
    list-style: none;
    padding-left: 0;
}

.etapas li {
    padding: 25px 0;
    border-bottom: 1px solid #efefef;
    min-height: 180px;
    clear: both;
}

.etapas .ativo {
    min-height: 210px;
}

.etapas li:last-child {
    border-bottom: 0 none;
}

.etapas .numero-etapa {
    color: #ccc;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 17px;
    font-family: "gothammedium";
}

.etapas h2 {
    font-weight: bold;
    color: #acacac;
    font-size: 18px;
    margin-top: 0;
    font-family: Gotham-Bold;
}

.etapas p {
    color: #c2c2c2;
    font-size: 14px;
}

.etapas .col-md-11 {
    padding-left: 0;
}

.etapas .ativo h2, .etapas .ativo p, .etapas .etapa-concluida h2, .etapas .etapa-concluida p {
    color: #303030;
}

.etapas .etapa-concluida a {
    background-color: none;
    text-decoration: underline;
    color: #8de1ed;
}

.etapas .btn-continuar, .btn-voltar-home {
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    background-color: #8ee2ed;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    font-family: "gothammedium";
}

.btn-continuar:hover, .btn-voltar-home {
    color: #fff;
}

.etapas .check, .etapas .ativo .check, .etapas .check2, .etapas .ativo .check2 {
    display: none;
}

.etapas .etapa-concluida .check {
    display: block;
    margin-top: 40px;
}

.etapas .etapa-concluida .check2 {
    display: block;
    margin-top: 40px;
}

.check .glyphicon {
    background-color: #39b19f;
    border-radius: 50%;
    padding: 6px;
}
.check2 .glyphicon {
    background-color: #39b19f;
    border-radius: 50%;
    padding: 6px;
}

.check2 .glyphicon:before {
    color: #fff;
}
    
.check .glyphicon:before {
    color: #fff;
}

.tipo-medida {
    margin-bottom: 30px;
}

.tooltip-duvida {
    color: #fff;
    font-weight: bold;
    background-color: #979797;
    padding: 3px 7px;
    border-radius: 50%;
    margin-left: 10px;
}

.input-altura-peso {
    margin: 50px 5px;
}

.input-altura-peso input {
    border: 1px solid #ccc;
    width: 40%;
    /*    height: 50px;*/
    padding: 10px;
    margin-left: 30px;
}


/* Medidas */

.medidas {
    margin-top: 50px;
}

.medidas p {
    font-size: 16px;
    text-align: center;
    color: #303030;
    margin: 50px 0;
    font-family: Gotham-Book;
}

.medidas p span {
    font-size: 14px;
}

.nuvem-medidas {
    clear: both;
    list-style: none;
    margin: 0 50px;
    width: 92%;
    min-height: 210px;
}

.nuvem-medidas a {
    float: left;
    padding: 10px;
    border: 1px solid #efd1e1;
    background-color: #fff;
    color: #1c1e27;
    display: inline-block;
    margin: 0 12px 25px 12px;
    font-family: Gotham-Book;
}

.nuvem-medidas a.ativo {
    background-color: #efd1e1;
    color: #fff;
}


/* bodyID Concluído */

.bodyId-concluido {
    margin-top: 140px;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
}

.bodyId-concluido h2, .bodyId-concluido p {
    text-align: center;
    color: #303030;
}

.bodyId-concluido h2 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: Gotham-Bold;
}

.bodyId-concluido p {
    font-size: 16px;
    margin-bottom: 50px;
}

.bodyId-concluido .btn-voltar-home {
    text-align: center;
}

.bodyId-concluido .btn-voltar-home:hover {
    color: #fff;
    text-decoration: none;
}


/* Resonsive */

/*
@media screen and (max-width: 767px) {
    .estrutura-menu {
        margin-top: 20px;
        margin-right: 30px;
        padding-right: 14px;
    }
}

@media screen and (max-width: 768px) {
  .estrutura-menu {
      width: 40%;
      margin-top: 8px;
  }
  .estrutura-menu+.estrutura-menu {
    width: 23%;
margin-top: 31px;
  }
} */

@media screen and (max-width: 992px) {
    .titulo-header {
    font-family: Gotham-Black;
    font-size: 20px;
    color: #fff;
    }

    .carousel-indicators{
        display: none;
    }
    .subtitulo-header {
        font-family: Playfair;
        font-size: 14px;
        color: #fff;
    }
    .title {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .carousel-caption{
        bottom: 2px;
        padding-bottom:10px;

    }

    .estilo-newsletter {
        width: auto;
    }
    .ir-news {
        position: absolute;
        right: 5%;
    }
    .header-img {
        margin-top: 30px;
    }
    .box-cadastre .coluna-cadastro, .box-login .coluna-cadastro, .box-input-news .coluna2 {
        left: 0;
        margin-left: 0;
        position: relative;
        width: auto;
    }
    .input-news {
        width: 89%;
        margin-left: 6%;
    }
    .box-opcoes-range {
        width: 94%;
    }
    input[type=range] {
        width: 95% !important;
    }
    .opcao-range {
        width: 33%;
    }
    .button-create {
        padding: 13px;
    }
    .bg-bodyId {
        padding-top: 20px;
    }
    .etapas .etapa-concluida {
        position: relative;
    }
    .etapas .etapa-concluida .check {
        float: right;
        position: absolute;
        top: -15px;
        right: 0;
    }
    .medidas {
        margin-top: 0;
    }
    .nuvem-medidas {
        margin: 0;
    }
    .nuvem-medidas a {
        display: list-item;
        font-family: Gotham-Book;
        text-align: center;
        float: none;
    }
    .bodyId-concluido {
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

/*
@media (min-width: 993px) {
    .estrutura-menu {
        width: 44%;
        margin-top: 4px;
    }
    .estrutura-menu+.estrutura-menu {
        width: 17%;
        margin-top: 31px;
    }
}*/
@media screen and (max-width: 335px) {

    .titulo-header {
        font-family: Gotham-Black;
        font-size: 12px;
        color: #fff;
    }

    .carousel-indicators{
        display: none;
    }
    .subtitulo-header {
        font-family: Playfair;
        font-size: 8px;
        color: #fff;
    }
    .title {
        padding-top: 1%;
        padding-bottom: 1%;
    }
    .carousel-caption{
        bottom: 2px;
        padding-bottom:2px;

    }

    .box-cadastre .coluna-cadastro {
        left: 0;
        margin-left: 0;
        position: relative;
        width: auto;
    }

    .box-data-nasc {
        height: 67px;
    }
    .input-cidade {
        padding-bottom: 22px;
    }
    .input-altura-peso input {
        margin-left: 0;
    }
    .ipt-peso {
        margin-left: 11px !important;
    }
    input[type=range] {
        width: 95%;
    }
    .opcao-range {
        width: 21%;
        float: left;
    }
}

@media screen and (max-width: 335px) {

    .cadastro {
        position: relative;
        top: -70px;
    }
}

@media (min-width: 1120px) {
    .estrutura-menu {
        width: 45%;
        margin-top: 0;
    }
    .estrutura-menu+.estrutura-menu {
        width: 16%;
        margin-top: 31px;
    }
}
