/*css range*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.5px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
    background: #ffffff;
    border-radius: 0px;
    border: 0.1px solid rgba(220, 221, 221, 0.87);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 3.3px solid #89ffff;
    height: 27px;
    width: 27px;
    border-radius: 27px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -13.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
    background: #ffffff;
    border-radius: 0px;
    border: 0.1px solid rgba(220, 221, 221, 0.87);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 3.3px solid #89ffff;
    height: 27px;
    width: 27px;
    border-radius: 27px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #c7c7c7;
    border: 0.1px solid rgba(220, 221, 221, 0.87);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
}

input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0.1px solid rgba(220, 221, 221, 0.87);
    border-radius: 0px;
    box-shadow: 0px 0px 0px #ffffff, 0px 0px 0px #ffffff;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    border: 3.3px solid #89ffff;
    height: 27px;
    width: 27px;
    border-radius: 27px;
    background: #ffffff;
    cursor: pointer;
    height: 0px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}

.bodyID {
    margin-bottom: 70px;
}


/* Etapas */

.etapas {
    list-style: none;
    padding-left: 0;
}

.etapas li {
    padding: 25px 0;
    border-bottom: 1px solid #efefef;
    min-height: 180px;
    clear: both;
}

.etapas li:last-child {
    border-bottom: 0 none;
}

.etapas .numero-etapa {
    color: #ddd;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 17px;
}

.etapas h2 {
    font-weight: bold;
    color: #acacac;
    font-size: 18px;
    margin-top: 0;
}

.etapas p {
    color: #c2c2c2;
    font-size: 14px;
}

.etapas .col-md-11 {
    padding-left: 0;
}

.etapas .ativo h2, .etapas .ativo p, .etapas .etapa-concluida h2, .etapas .etapa-concluida p {
    color: #303030;
}

.etapas .etapa-concluida a {
    background-color: none;
    text-decoration: underline;
    color: #caf1f7;
}

.etapas .btn-continuar, .btn-voltar-home {
    color: #fff;
    padding: 12px 22px;
    background-color: #8ee2ed;
    display: inline-block;
    text-decoration: none;
}

.btn-continuar:hover, .btn-voltar-home {
    color: #fff;
}

.etapas .check, .etapas .ativo .check {
    display: none;
}

.etapas .etapa-concluida .check {
    display: block;
    margin-top: 40px;
}

.check .glyphicon {
    background-color: #39b19f;
    border-radius: 50%;
    padding: 6px;
}

.check .glyphicon:before {
    color: #fff;
}


/* Medidas */

.medidas {
    margin-top: 50px;
}

.medidas p {
    font-size: 16px;
    text-align: center;
    color: #303030;
    margin: 50px 0;
}

.medidas p span {
    font-size: 14px;
}

.nuvem-medidas {
    clear: both;
    list-style: none;
}

.nuvem-medidas li {
    float: left;
    padding: 10px 15px;
    border: 1px solid #efd1e1;
    background-color: #fff;
    color: #1c1e27;
    display: inline-block;
    margin: 0 12px 25px 12px;
}

.nuvem-medidas li.ativo {
    background-color: #efd1e1;
    color: #fff;
}


/* bodyID Concluído */

.bodyId-concluido {
    margin-top: 50px;
}

.bodyId-concluido h2, .bodyId-concluido p {
    text-align: center;
    color: #303030;
}

.bodyId-concluido h2 {
    font-size: 21px;
    text-transform: uppercase;
}

.bodyId-concluido p {
    font-size: 16px;
}
